extends layout

block content
	.container
		.row
			each val in data
				.col.s12.m5
					.card-panel.teal
						span.white-text
							| #{val.vehicle.constructor}
							| #{val.vehicle.model}
							| #{val.status}
							| #{val.crowfly_distance}
						a.waves-effect.waves-light.btn(href='/hails/#{val.id}') Interpeler


	//- ul
		
	//- 		li=JSON.stringify(val)